legacy-peer-deps=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
strict-ssl=false
node-linker=hoisted
public-hoist-pattern[]=rollup*
public-hoist-pattern[]=*eslint*
optional=false
shamefully-hoist=true 